@using EulerHermesInnovathonOffer.Models;
@model IndexViewModel
@{
    ViewBag.Title = "Accueil";
}

<div class="container-home">
    @*<div class="offer">
        @using (Html.BeginForm())
        {
            int i = 0;
            foreach (var package in Model.Packages)
            {
                <input type="checkbox" name="packageIds[@i]" value="@package.Id" />
                <label for="packageIds[@i]">@package.Name, @package.AnnualPrice €</label>
                <p>@package.Contract</p>
                <p>@package.Description</p>
                <br />
                i++;
            }
            <input type="submit" name="submit" value="submit" />
        }
    </div>*@
    <div class="siren-diag">
        <input class="siren" type="text" name="siren" placeholder="Nom ou SIREN de l'entreprise" />
        @Html.ActionLink("Diagnostiquer mon risque de fraude, Diagnostiquer mon risque de fraude", "PageN", null, new { @class = "diag btn-lg" })
    </div>

    <img src="~/Content/Home.jpg" width="1900" alt="Accueil" />
</div>