@using EulerHermesInnovathon.Models.Button;
@model EmergencyResponse
@{
    ViewBag.Title = "Quotes";
}

<h2>Category</h2>
@Model.Category.Id

<h2>Warranty</h2>
<h3>Excess</h3>
@Model.Warranty.Excess

<h3>Coverage</h3>
@Model.Warranty.Coverage

<h2>Quotes</h2>
@foreach (var quote in Model.QuoteList)
{
    <h4>Hourly Price</h4>
    @quote.HourlyPrice
    <br />
    @Html.ActionLink("Accepter", "Accept", new { quoteId = quote.Id})
    <br />
}
