@using EulerHermesInnovathon.Models.Button;
@model EmergencyResponse
@{
    ViewBag.Title = "Devis";
}

<h2>Categorie</h2>
@Model.Category.Name
<p>@Model.Category.Description</p>

<h2>Garantie</h2>
<p>@Model.Warranty.Description</p>
<h3>Franchise</h3>
@Model.Warranty.Excess
<h3>Couverture</h3>
@Model.Warranty.Coverage

<h2>Devis</h2>
@foreach (var quote in Model.QuoteList)
{
    <h3>Partenaire</h3>
    @quote.PartnerName
    <h3>Contrat</h3>
    @quote.Contract
    <h3>Prix/H</h3>
    @quote.HourlyPrice
    <br />
    @Html.ActionLink("Accepter", "Accept", new { quoteId = quote.Id})
    <br />
}
