@using EulerHermesInnovathon.Models.Button;
@model EmergencyResponse
@{
    ViewBag.Title = "Devis";
}

<div class="spaceunder"><img src="~/Content/Bandeau-ecran2.png" /></div>

<div>
    <div class="information">Vous disposez d'un niveau de couverture pour ce type d’incident</div>
    <div class="warranty">
        <p>Garantie <b>@Model.Warranty.Name</b></p>
        <p><b>Franchise</b> : @Model.Warranty.Excess € <br /> <b>Couverture</b> : @Model.Warranty.Coverage €</p>
        <p>@Model.Warranty.Description</p>
    </div>
</div>

@foreach (var quote in Model.QuoteList)
{
    <div class="warranty">
        <div class="larger">@quote.PartnerName @Html.ActionLink("Accepter", "Accept", new { quoteId = quote.Id }, new { @class = "right btn btn-default btn-lg" })
</div>
        <p>Prix : @quote.HourlyPrice €/heure</p>
        <p>Contrat</p>
        <div class="contract">@quote.Contract</div>
    </div>
}
